@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #07090d;
  /* position: relative; */
}
.login {
  background-color: #07090d;
  background-image: radial-gradient(
    circle farthest-side at 80% 15%,
    rgba(70, 122, 255, 0.36),
    rgba(0, 0, 0, 0) 53%
  );
}
.section-feature {
  background-color: #07090d;
  background-image: radial-gradient(
    circle at 0%,
    rgba(70, 122, 255, 0.36),
    rgba(255, 255, 255, 0) 28%
  );
}
.feature-section {
  /* background-image: url('../public/images/background.png'); */
  background-color: #07090d;
  background-image: radial-gradient(
    circle farthest-side at 80% 15%,
    rgba(70, 122, 255, 0.36),
    rgba(0, 0, 0, 0) 53%
  );
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
.section {
  transition: all 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
.nav-ul {
  background-image: url('../public/images/bgnav.webp');
}
.main-heading {
  background-image: linear-gradient(114deg, #f6f5ff, #dcdbff 70%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-cta {
  background: #07090d;
}
.section-pricing {
  background-color: #07090d;
  background-image: radial-gradient(
    circle at 0%,
    rgba(70, 122, 255, 0.36),
    rgba(255, 255, 255, 0) 28%
  );
}
.card {
  transition: all 0.5s;
  -webkit-backdrop-filter: blur(34px);
  backdrop-filter: blur(34px);
  background-color: rgba(220, 230, 255, 0.07);
  background-image: radial-gradient(
      circle at 100% 0,
      rgba(255, 192, 156, 0.25),
      rgba(0, 0, 0, 0) 8%
    ),
    radial-gradient(
      circle at 100% 0,
      rgba(255, 192, 156, 0.32),
      rgba(23, 25, 30, 0) 12%
    );
  border-radius: 24px;
}
.card:hover {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  background-image: linear-gradient(
      235deg,
      #9e9cff,
      rgba(0, 0, 0, 0) 10%
    ),
    linear-gradient(
      235deg,
      rgba(0, 0, 0, 0) 90%,
      rgba(213, 97, 254, 0.7)
    );
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.section-newsLetter {
  background-color: #07090d;
  background-image: radial-gradient(
    circle at 85%,
    rgba(70, 122, 255, 0.36),
    rgba(0, 0, 0, 0) 27%
  );
}
